MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=aiprotector
MYSQL_USER=aiprotector
MYSQL_PASSWORD=secret

JWT_SECRET=replace_with_random_secret
ML_SERVICE_URL=http://ml-service:8001
ML_API_KEY=replace_ml_api_key
OPENAI_API_KEY=replace_openai_key
